.nav {list-style: none; background-color: #0b0c10;}



.nav a {float: left; background-color:  #0b0c10; text-align: center; text-decoration: none; font-size: 12px;}


.nav li {display: inline-block; 
    padding: 10px; 
    margin: 10px; 
    background-color: #0b0c10;}

.dropdown {
  position: relative;
    display: inline-block;}

.dropdown-content {
  display: none;
  position: absolute;
    background-color: #0b0c10;}

    
.dropdown:hover .dropdown-content {
  display: block;
}

